/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0f;
  color: white;
  margin: 0;
  padding: 0;
}
